[workspace]
resolver = "2"

members = [
    "hitbox",
    "hitbox-backend",
    "hitbox-core",
    "hitbox-redis",
    # "hitbox-stretto",
    "hitbox-tower",
    # "hitbox-tarantool",
    "examples",
]
