[package]
name = "hitbox"
version = "0.1.0"
authors = ["Belousow Makc <lib.bmw@gmail.com>", "Andrey Ermilov <andrerm@ya.ru>"]
license = "MIT"
edition = "2018"
description = "Asynchronous caching framework in Rust."
readme = "README.md"
repository = "https://github.com/hit-box/hitbox/"
categories = ["caching", "asynchronous"]
keywords = ["cache", "actix", "async", "cache-backend", "actix-cache"]

[dependencies]
actix = "0.11"
hitbox-backend = { path = "../hitbox-backend", version = "0.1.0" }
hitbox-derive = { path = "../hitbox-derive", version = "0.1.0", optional = true }
serde_json = "1"
serde_qs = { version = "0.8", optional = true }
serde = { version = "1", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
thiserror = "1"
prometheus = { version = "0.12", optional = true }
lazy_static = { version = "1", optional = true }
tracing = "0.1"

[dev-dependencies]
actix_derive = "0.6"
actix-web = "3"

[features]
default = []

derive = ["hitbox-derive", "serde_qs", "actix/macros"]
metrics = ["prometheus", "lazy_static"]
